<div class="text-center">
  <input id="nameInput" value={{name}} />
  <input id="editInput" value={{description}} />
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">Update Post</button>
  </p>
</div>
