@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@621&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #217568;
}

.hide {
    display: none;
    visibility: hidden;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background: #FF006F;
    padding: 2%;
    width: 100%;
}

.header h1 {
    font-family: 'Orbitron', sans-serif;
}

.homepagelink {
    color: white;
    text-shadow: 0 0 5px black;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 2% 0;
}

.choices:hover {
    cursor: pointer;
}

header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
  
.no-button {
    font-family: 'Orbitron', sans-serif;
    background: none;
    border: none;
    padding: 1%;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-size: x-large;
    text-shadow: 0 0 5px black;
}

.no-button:hover {
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: #217568;
    transition: 1s;
    text-shadow: 0 0 5px black;
}

.blogContent {
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 5px black;
}

.blogUser {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 3px white;
}

.blogTitle {
    font-family: 'Orbitron', sans-serif;
    color: #FF006F;
    text-shadow: 0 0 5px white;
}

.editBlogLinks {
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
}

.deleteBtn {
    box-shadow: 0 0 5px white;
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    background-color: #FF006F;
    border-radius: 10px;
    font-weight:500;
    color: white;
}