@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@621&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #217568;
}

.hide {
    display: none;
    visibility: hidden;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background: #FF006F;
    padding: 2%;
    width: 100%;
}

.header h1 {
    font-family: 'Orbitron', sans-serif;
}

.homepagelink {
    color: white;
}

.score-board {
    display: flex;
    justify-content: center;
    margin: 1% auto;
    border: 3px solid white;
    width: 50%;
    color: white;
    font-size: 26px;
    border-radius: 10px;
    text-align: center;
    padding: 2% 3%;
    font-family: 'Orbitron', sans-serif;
    position: relative;
}

.result {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: white;
    background-color: #FF006F;
    width: fit-content;
    padding: 1% 2%;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 2% 0;
}

.choices:hover {
    cursor: pointer;
}